
#twitter-demo { 
  padding: 0 1em; 

  header {
    @extend h1;
  }
  
  .configuration {
    @extend .navbar;

    .list-chooser {
      @extend .navbar-inner;
    }
    
    .list-selection {
      @extend .navbar-form;
      @extend .pull-right;
      color: $black;
      line-height: 40px;

      select {
        height: 25px;
        margin-top: 0;
        margin-left: 10px;
      }
    }
    
  }

  .viewing {
    margin-bottom: 20px;
    span {
      margin: 0 5px;
    }
  }
  
  .current-users {
    .twitter-id {
      display: inline-block;
      min-width: 150px;
      margin-bottom: 10px;
    }
    
    button {
      display: inline-block;
      margin-left: 10px;
    }
  }
  
  .tweets {
    max-height: 300px;
    overflow-y: scroll;
  }
  

}
 
